########################################################################
# 
#	which node
#	/etc/systemd/system/deploy.service
#
#	SYSTEM D
#	1. sudo systemctl daemon-reload
#	2. sudo systemctl enable deploy.service
#	3. sudo systemctl start deploy.service
#	4. sudo systemctl status deploy.service
#
########################################################################

[Unit]
Description=Hello Continuous Deployment	
After=network.target						

[Service]
# process gets called once and dies
Type=oneshot
User=loscra13						

# check if pull deployment
WorkingDirectory=/home/loscra13/Desktop/Lab-Boot
ExecStart=/home/loscra13/Desktop/Lab-Boot/deploy.sh

# logs
StandardOutput=journal
StandardError=journal					


# [Install]
# WantedBy=multi-user.target					
# start at boot ????????????????
