########################################################################
# 
#	which node
#	/etc/systemd/system/hello.service
#
#	SYSTEM D
#	1. sudo systemctl daemon-reload
#	2. sudo systemctl enable hello.service
#	3. sudo systemctl start hello.service
#	4. sudo systemctl status hello.service
#
########################################################################

[Unit]
Description=Node Hello World					
# name
After=network.target						
# checks network before start

[Service]

# process runs in the foreground
Type=simple							
User=loscra13						
# me, maybe root

# express modules dir

# call 'node app'
WorkingDirectory=/home/loscra13/Desktop/Lab-Boot
ExecStart=/usr/bin/node /home/loscra13/Desktop/Lab-Boot/app.js

# autorestart in 10s
Restart=on-failure	
RestartSec=10	

# logs
StandardOutput=journal
StandardError=journal					

# just in case
# Environment="NODE_ENV=production"
# Environment="PORT=3000"

[Install]
WantedBy=multi-user.target					
# start at boot
